/* plain text */
.pln {
  color: #000;
  font-weight: normal;
  font-style: normal;
}

/* string content */
.str {
  color: #555;
  font-weight: normal;
  font-style: normal;
}

/* a keyword */
.kwd {
  color: #000;
  font-weight: bold;
  font-style: normal;
}

/* a comment */
.com {
  color: #999;
  font-weight: normal;
  font-style: italic;
}

/* a type name */
.typ {
  color: #000;
  font-weight: normal;
  font-style: normal;
}

/* a literal value */
.lit {
  color: #555;
  font-weight: normal;
  font-style: normal;
}

/* punctuation */
.pun {
  color: #000;
  font-weight: normal;
  font-style: normal;
}

/* lisp open bracket */
.opn {
  color: #000;
  font-weight: normal;
  font-style: normal;
}

/* lisp close bracket */
.clo {
  color: #000;
  font-weight: normal;
  font-style: normal;
}

/* a markup tag name */
.tag {
  color: #555;
  font-weight: normal;
  font-style: normal;
}

/* a markup attribute name */
.atn {
  color: #555;
  font-weight: normal;
  font-style: normal;
}

/* a markup attribute value */
.atv {
  color: #555;
  font-weight: normal;
  font-style: normal;
}

/* a declaration */
.dec {
  color: #000;
  font-weight: bold;
  font-style: normal;
}

/* a variable name */
.var {
  color: #000;
  font-weight: normal;
  font-style: normal;
}

/* a function name */
.fun {
  color: #000;
  font-weight: bold;
  font-style: normal;
}

